{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/catalogoCompras.css') }}">
<div class="container-fluid" id="comprasDasboards">
    <div class="row">
        <div class="col-md-6">
            <a onclick="mostrarComprasR();">
                <div class="panel bg-success">
                    <h2 class="panel-title">Compras Realizadas</h2>
                    <i class="fa-solid fa-handshake fa-bounce panel-icon"></i>
                    <span class="panel-text">{{conteoComprasR}}</span>
                </div>
            </a>

        </div>
        <div class="col-md-6">
            <a onclick="mostrarComprasP();">
                <div class="panel bg-warning">
                    <h2 class="panel-title">Compras Pendientes</h2>
                    <i class="fa-solid fa-triangle-exclamation fa-shake panel-icon"></i>
                    <span class="panel-text">{{conteoComprasP}}</span>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="container-fluid" id="comprasP" style="display: none;">
    <h1>Compras Pendientes</h1>
    <button class="btn btn-primary float-right" id="regresar" onclick="regresarCompras();"><i
            class="fas fa-arrow-left mr-2"> </i>Regresar</button>
    <form method="POST" action="{{ url_for('administrador.catalogoCompras') }}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha">Fecha de compra :</label>
                    <input type="date" class="form-control mx-2" id="fecha" name="fecha">
                </div>
                <button type="button" class="btn btn-primary" onclick="buscarPorFecha()">Buscar</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="comprasTabla">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Proveedor</th>
                            <th>Material</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for compra, det, mat, prov in compras %}
                        <tr>
                            <td>{{ compra.fecha }}</td>
                            <td>{{ prov.nombre }}</td>
                            <td>{{ mat.nombre }}</td>
                            <td>{{ det.cantidad }}</td>
                            <td>${{ det.precio }}</td>
                            <td>
                                <form method="POST" action="{{ url_for('administrador.catalogoCompras') }}">
                                    <input type="hidden" name="idCompra" value="{{ compra.id }}">
                                    <input type="hidden" name="idMaterial" value="{{ mat.id }}">
                                    <input type="hidden" name="idProveedor" value="{{ prov.id }}">
                                    <input type="hidden" name="idDetalle" value="{{ det.id }}">
                                    <input type="hidden" name="cantidad" value="{{ det.cantidad }}">
                                    <input type="hidden" name="precio" value="{{ det.precio }}">
                                    <button type="submit" class="btn btn-success" name="confirmar">Confirmar compra
                                    </button>
                            </td>
    </form>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
</form>
</div>


<div class="container-fluid" id="comprasR" style="display: none;">
    <h1>Compras Realizadas</h1>
    <button class="btn btn-primary float-right" id="regresar" onclick="regresarCompras();"><i
            class="fas fa-arrow-left mr-2"> </i>Regresar</button>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" method="POST">
                <div class="form-group">
                    <label for="fechaR">Fecha de compra :</label>
                    <input type="date" class="form-control mx-2" id="fechaR" name="fechaR">
                </div>
                <button type="button" class="btn btn-primary" onclick="buscarPorFechaR()">Buscar</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>Material</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for compraR, detR, matR, provR in comprasRealizadas %}
                    <tr>
                        <td>{{ compraR.fecha }}</td>
                        <td>{{ provR.nombre }}</td>
                        <td>{{ matR.nombre }}</td>
                        <td>{{ detR.cantidad }}</td>
                        <td>${{ detR.precio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}