{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/catalogoPorModelos.css') }}">
<!-- Productos -->
<div class="container" id="container">
    <div class="row">  
        {% for producto in productos %}
        <div class="col-4"> 
            <div class="card mb-4">
                <div class="card-body" id="{{producto.id}}">                                  
                    <img class="card-img-top" src="{{ url_for('static', filename='img/' + producto.imagen) }}" alt="Card image cap">                  
                    <p class="card-title h4">{{producto.nombre}}</p>
                    <p class="card-text h5" id="Precio">Precio: ${{producto.precio}}</p>
                    <p class="card-text h5">Color: {{producto.color}}</p>
                    <form method="post" action="{{ url_for('main.verProducto', modelo = producto.modelo, color = producto.color) }}">
                        <button id="btnTallas" class="btn  full-width btn-block"><i class="fa-solid fa-bag-shopping"></i> Ver tallas</button>    
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
