{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h1>Detalle Venta</h1>
    </div>
    <div class="card-body">
        <div class="container-fluid" id="detVentas">
            <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-end">
                    <a class="btn btn-primary" id="regresardet" href="{{ url_for('administrador.ventas') }}">
                        <i class="fas fa-arrow-left mr-2"></i>Regresar
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="tablaDetVentas">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Modelo</th>
                                <th>Talla</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in detalle_ventas %}
                            <tr>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.modelo }}</td>
                                <td>{{ producto.talla }}</td>
                                <td>{{ producto.cantidad }}</td>
                                <td>{{ producto.precio }}</td>
                                <td>{{ producto.cantidad * producto.precio }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-center">
                    <form action="/detalleVenta" method="POST">
                        <input type="number" name="idDetVent" value="{{id_venta}}" hidden>
                        <button type="submit" class="btn btn-primary btn-enviar"
                            style="display: {% if not estatus %}none{% else %}block{% endif %};">
                            <i class="fa-solid fa-paper-plane fa-sm" style="color: #ffffff;"></i> Confirmar envío
                        </button>
                    </form>
                    <p id="ventaEnviada" style="display: {% if estatus %}none{% endif %};">La venta ya ha sido enviada.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h1 {
        font-family: 'Times New Roman', Times, serif;
    }

    #tablaDetVentas {
        font-size: 14px;
        margin-top: 20px;
    }

    #tablaDetVentas th {
        background-color: #6c757d;
        color: #fff;
        font-weight: 600;
    }

    #tablaDetVentas tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    #detVentas h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    #detVentas {
        font-size: 18px;
        font-weight: bold;
        border-radius: 20px;
        padding: 10px 30px;
        margin-top: 20px;
    }

    @media (max-width: 576px) {
        #detVentas h1 {
            font-size: 28px;
        }

        #detVentas {
            font-size: 14px;
            padding: 8px 20px;
        }
    }

    #regresardet {
        background: none;
        border: none;
        color: #337ab7;
        text-decoration: underline;
        cursor: pointer
    }

    .btn-enviar {
        position: relative;
    }

    .btn-enviar:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        background-image: url('ruta-de-la-imagen-del-avion-de-papel');
        background-size: contain;
        background-repeat: no-repeat;
        animation: avion-despegando 1s linear infinite;
    }

    @keyframes avion-despegando {
        0% {
            transform: translate(-50%, -10px) rotateZ(0deg);
        }

        50% {
            transform: translate(-50%, -20px) rotateZ(15deg);
        }

        100% {
            transform: translate(-50%, -10px) rotateZ(0deg);
        }
    }


    .btn-enviar.enviando {
        animation: enviar 1s forwards;
    }

    @keyframes enviar {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        50% {
            transform: translateY(20px);
            opacity: 0.5;
        }

        100% {
            transform: translateY(50px);
            opacity: 0;
        }
    }

    #ventaEnviada {
        font-weight: bold;
        font-size: 18px;
    }

    #ventaEnviada {
        font-weight: bold;
        font-size: 18px;
        color: rgb(11, 173, 22);
    }

    #ventaEnviada {
        font-weight: bold;
        font-size: 18px;
        color: rgb(11, 173, 22);
        border: 2px solid rgb(11, 173, 22);
        padding: 5px;
        border-radius: 5px;
    }
</style>


<script>
    document.querySelector('.btn-enviar').addEventListener('click', function () {
        this.classList.add('enviando');
        this.disabled = true;
    });
</script>

{% endblock %}