<!-- finanzas.html -->
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/css/finanzas.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="charts-container">
    <div class="chart-container">
        <h1><i class="fa-sharp fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Ventas totales por mes</h1>
        <canvas id="ventas-chart" width="800" height="400"></canvas>
        <script>
            var ventasData = {
                labels: [{% for venta in ventas_por_mes %}"{{ venta.mes }}", {% endfor %}],
            datasets: [{
                label: 'Ventas por mes',
                data: [{% for venta in ventas_por_mes %}{{ venta.total }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderWidth: 1
            }]
        };

            var ventasOptions = {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            };

            var ventasChart = new Chart(document.getElementById('ventas-chart'), {
                type: 'bar',
                data: ventasData,
                options: ventasOptions
            });
        </script>
    </div>



    <div class="chart-container">
        <h1><i class="fa-sharp fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Compras totales por mes
        </h1>
        <canvas id="compras-chart" width="800" height="400"></canvas>
        <script>
            var comprasData = {
                labels: [{% for compra in compras_por_mes %}"{{ compra.mes }}", {% endfor %}],
            datasets: [{
                label: 'Compras por mes',
                data: [{% for compra in compras_por_mes %}{{ compra.total }}, {% endfor %}],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192,192, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 1 192, 0.2)',
                        'rgba(75, 192, 92, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                        borderWidth: 1
            }]
        };

            var comprasOptions = {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            };

            var comprasChart = new Chart(document.getElementById('compras-chart'), {
                type: 'bar',
                data: comprasData,
                options: comprasOptions
            });

        </script>
    </div>



    <div class="chart-container">
        <h1><i class="fa-sharp fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Utilidad mensual</h1>
        <canvas id="utilidad-chart" width="800" height="400"></canvas>
        <script>
            var utilidadData = {
                labels: [{% for utilidad in utilidad_mensual %}"{{ utilidad.mes }}", {% endfor %}],
            datasets: [{
                label: 'Utilidad mensual',
                data: [{% for utilidad in utilidad_mensual %}{{ utilidad.utilidad }}, {% endfor %}],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192,192, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 1 192, 0.2)',
                        'rgba(75, 192, 92, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                        borderWidth: 1
                }]
            };

            var utilidadOptions = {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            };

            var utilidadChart = new Chart(document.getElementById('utilidad-chart'), {
                type: 'line',
                data: utilidadData,
                options: utilidadOptions
            });
        </script>
    </div>




</div>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card card-sm">
                <div class="card-header">
                    <h3 class="card-title">Reportes de Finanzas</h3>
                </div>
                <div class="card-body">
                    <form action="/reportesFinanzas" method="POST">
                        <div class="form-group">
                            <label for="fecha_inicio">Fecha de inicio:</label>
                            <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="fecha_fin">Fecha de fin:</label>
                            <input type="date" name="fecha_fin" id="fecha_fin" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="radio_btn">Tipo de reporte:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio_btn" id="ventas"
                                    value="ventas">
                                <label class="form-check-label" for="ventas">
                                    Ventas
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio_btn" id="compras"
                                    value="compras">
                                <label class="form-check-label" for="compras">
                                    Compras
                                </label>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary" name="pdf" title="Descarga PDF"><img
                                src="../static/images/pdf.png" alt="Descarga PDF"
                                style="height: 30px; width: 30px;"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}