{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/inventarios.css">
<link rel="stylesheet" href="../static/sweetalert2/sweetalert2.min.css">
<script src="../static/sweetalert2/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script src="../static/js/main.js"></script>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        <script>
            Swal.fire({
                title: '{{ messages[0][1] }}',
                icon: '{{ messages[0][0] }}',
                showConfirmButton: true,
                timer: 4000
            });
        </script>
{% endif %}
{% endwith %}
<div class="content-wrapper">
    <div class="container-fluid">
        <button id="ver-detalles" class="btn btn-primary my-3 mb-0" onclick="mostrarTabla();"><i class="	far fa-eye mr-2"></i>Ver detalles</button>
        <!-- Breadcrumbs-->
        <!-- Icon Cards-->
        <div class="row" id="dashboard2">
            {% for mat in materiales %}
            {% if mat.cantidad <= mat.stock_minimo %}
            {% set td_style = "bg-danger" %}
            {% set td_style2 = "fa-solid fa-face-dizzy fa-shake" %}
            {% elif mat.cantidad <= mat.stock_minimo + 40 %}
            {% set td_style = "bg-warning" %}
            {% set td_style2 = "fa-solid fa-face-grimace fa-beat-fade" %}
            {% else %}
            {% set td_style = "bg-success"%}
            {% set td_style2 = "fa-solid fa-face-laugh" %}
            
            {% endif %}
            <div class="col-xl-3 col-sm-6 mb-3" id="dashboard" >
                <div class="card text-white {{td_style}} o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="{{td_style2}}"></i>
                        </div>
                        <div class="mr-5 " style="text-align: center;"><h6 style="color: lightcyan;"> {{mat.nombre}}</h6></div>
                        <div class="mr-5">{{mat.cantidad}} unidades en el inventario</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="compras?id={{ mat.id }}">
                        <span class="float-left">Comprar mas</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card mb-3" id="dataTable2" style="display: none;">
            <div class="card-header">
                <i class="fa fa-table"></i> Inventario de Materias Primas
                <button class="btn btn-primary float-left" id="regresar" onclick="mostrarDashboard();"><i class="fas fa-arrow-left mr-2"> </i>Regresar</button>
                <a class="btn btn-primary float-right" id="agregar" href="materiales"><i class="fas fa-boxes mr-2"> </i>Agregar</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Cantidad</th>
                                <th>Stock Minimo</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in materiales %}
                            <tr>
                                <td>{{material.nombre}}</td>
                                <td>{{material.descripcion}}</td>
                                <td>{{material.cantidad|float}}</td>
                                <td>{{material.stock_minimo|int}}</td>
                                <td>
                                    <a href="modificarMaterial?id={{ material.id }}" class="btn btn-info btn-sm"
                                        title="Modifcar">Editar</a>
                                    <a href="eliminarMaterial?id={{ material.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}