{% extends "base.html"%}
{% block content %}
<link rel="stylesheet" href="../static/css/materiales.css">
<div class="container" id="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Agregar Material</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="/materiales">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"
                                required></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" class="form-control" id="cantidad" name="cantidad" value="0" readonly   required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="stock_minimo">Stock Mínimo</label>
                                <input type="number" class="form-control" id="stock_minimo" name="stock_minimo"
                                required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}