{% extends "base.html" %}
{% block content %}
<div class="container">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pedidos.css') }}">
    <h2 style="color:black ; font-family: 'Times New Roman', Times, serif;" class="text-center">Carrito de Compra</h2>
    <a href="/" class="btn btn-primary float-left"><i class="fa-solid fa-bag-shopping"></i> Seguir comprando
    </a>
    <a href="/pedidos" class="btn btn-primary float-right"><i class="fa-solid fa-turn-down-left"></i> Mostrar todos</a>
    <form method="POST" action="/buscarPedido">
        <label for="search">Search</label>
        <input required="" type="search" class="input" id="search" name="search">
        <span class="caret"></span>
    </form>
    {% if not detPed%}
    <h1 class="text-info">No hay pedidos aún</h1>
    {% else %}
    <table class="table table-striped table-hover table-bordered">
        <thead style="background-color: gray;">
            <th>No. Pedido</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Talla</th>
            <th>Precio Unitario </th>
            <th>Eliminar</th>
            <th></th>
        </thead>
        <tbody>
            {% if detPed is iterable%}
            {% for dp in detPed%}
            {% if dp.pedido.estatus != 0%}
            <tr>
                <td>{{dp.pedido_id}}</td>
                <td>{{dp.producto.nombre}} </td>
                <td>{{dp.cantidad}}</td>
                <td>{{dp.producto.talla}}</td>
                <td>${{dp.producto.precio}}
                </td>
                <td><a href="eliminarPedido?id={{dp.pedido_id}}" class="btn btn-danger btn-sm" title="Eliminar Producto"><i class="fa-solid fa-trash"></i></a></td>
                <td><a href="pagar?id={{dp.pedido_id}}" class="btn btn-primary btn-sm"><i
                            class="fa-solid fa-money-bill-wave fa-beat-fade" style="color: #000000;"></i> Comprar</a></td>
            </tr>
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
                <td>{{detPed.pedido_id}}</td>
                <td>{{detPed.producto.nombre}} </td>
                <td>{{detPed.cantidad}}</td>
                <td>{{detPed.producto.talla}}</td>
                <td>${{detPed.producto.precio}}
                </td>
                <td><a href="eliminarPedido?id={{detPed.pedido_id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a></td>
                <td><a href="pagar?id={{detPed.pedido_id}}" class="btn btn-primary btn-sm"><i
                            class="fa-solid fa-money-bill-wave fa-beat-fade" style="color: #000000;"></i> Comprar</a></td>
            </tr>
            {% endif%}

        </tbody>
    </table>
    {% endif %}
    <a href="pagar_todo" type="button" class="btn btn-info float-right my-3"> <i class="fa-solid fa-cash-register fa-flip"
            ></i> Comprar todo</a>
    <br>
</div>
{% endblock %}