{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/detalleProducto.css">
<div class="container mt-5 my-5" id="contenedorProducto" >
  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='img/' + productos[0].imagen) }}" alt="Imagen del Producto" height="300">
    </div>
    <div class="col-md-6">
      <h1 class="mb-3">{{productos[0].nombre}}</h1>
      <h4 class="mb-3">{{productos[0].modelo}}</h4>
      <p class="mb-2">Color: {{productos[0].color}}</p>        
      <p class="mb-2">{{productos[0].descripcion}}</p>
      <div class="form-group">
        <label for="tallaProducto">Tallas disponibles</label>
        <select class="form-control" id="tallaProducto" name="tallaProducto">
          {% for producto in productos %}
          <option value="{{ producto.id }}">
            {% if producto.talla == 'S'%}  
            Chica
            {% elif producto.talla == 'M'%}
            Mediana
            {% else %}
            Grande
            {% endif %}
            -
            {{producto.stock_existencia}} unidades disponibles
          </option>
          {% endfor %}
        </select>
      </div>
      {% if current_user.is_authenticated %}
      <form id="agregarCarrito" method="POST" action="{{ url_for('cliente.pedidos')}}">
        <div class="form-group">
          <label for="cantidad">Cantidad: </label>
          <input min="0" max="5" type="number" class="form-control" id="txtCantCar" value="1">                
          <button class="btn" onclick="carrito()" id="addCar"><i class="fa-solid fa-cart-plus"></i> Agregar a Carrito</button>      
      </form>  


          
        </div>
        <div>

        </div> 
         
      {% else %}
      <form id="regresarLogin" action="{{ url_for('auth.login')}}">
        <div class="form-group">
          <label for="cantidad">Cantidad: </label>
          <input type="number" class="form-control" id="cantidad" value="0" min="0">                    
        </div>
      </form> 
      <div>
        <form id="regresarLogin" action="{{ url_for('auth.login')}}">
        <button class="btn" onclick="carrito()" id="addCar"><i class="fa-solid fa-cart-plus"></i> Agregar a Carrito</button>      
        </form>

      </div> 
    
      {% endif %}
      <button type="button" id="verTallas" class="learn-more" onclick="abrirVentana();">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Guía de Tallas</span>
      </button>
    </div>
  </div>
</div>

  <script>
function carrito() {
    // Obtener el elemento select
    var selectElement = document.getElementById('tallaProducto');
    
    // Obtener el valor seleccionado
    var selectedValue = selectElement.value;
    
    // Obtener el elemento de cantidad
    var cantidadElement = document.getElementById('txtCantCar');
    
    // Obtener el valor de cantidad
    var cantidad = cantidadElement.value;

    // Construir la URL con los valores seleccionados
    var url = "pedidos?idProducto=" + selectedValue + "&cantidad=" + cantidad;

    // Obtener el formulario
    var formulario = document.getElementById('agregarCarrito');
    
    // Establecer los atributos del formulario
    formulario.setAttribute('method', 'POST');
    formulario.setAttribute('action', url);
    
    // Enviar el formulario
    formulario.submit();
}

    </script>
          <script>
            function abrirVentana() {
              // Abre una nueva ventana con la imagen de la guía de tallas
              window.open("../static/images/guiaTallas.jpg", "_blank", "height=600,width=800");
            }
            </script>
{%  endblock %}