/*estilos del boton eliminar*/

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

button,
button span {
    -webkit-transition: 200ms;
    transition: 200ms;
}

button .text {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    -webkit-transform: translateX(110px);
    -ms-transform: translateX(110px);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

button svg {
    width: 15px;
    fill: #eee;
}

button:hover {
    background: #ff3636;
}

button:hover .text {
    color: transparent;
}

button:hover .icon {
    width: 150px;
    border-left: none;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

button:focus {
    outline: none;
}

button:active .icon svg {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}



/*boton cancelar*/
#cancelar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3em;
    width: 150px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 3px;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: dodgerblue;
}

#cancelar>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

#cancelar:hover>svg {
    font-size: 1.2em;
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}

#cancelar:hover {
    -webkit-box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

